//- baum
.baum__item
	.baum__pic
		img(src="static/img/baum/01.jpg", alt="picture").baum__img
	.baum__footer
		p.baum__desc Столбик бетонируемый серии «Город» CA-76
		strong.price 721
	.baum__get
		img(src="static/img/icons/icon-check-green.png", alt="").baum__get_icon.icon-check-green
		p.baum__get_desc В наличии
	a(href="#", data-ppp="js-recall").js-ppp.btn.btn-zakaz заказать

.baum__item
	.baum__pic
		img(src="static/img/baum/01.jpg", alt="picture").baum__img
	.baum__footer
		p.baum__desc Столбик бетонируемый серии «Город» CA-76
		strong.price 1200
	.baum__get
		img(src="static/img/icons/icon-check-red.png", alt="").baum__get_icon.icon-check-red
		p.baum__get_desc Нет в наличии
	a(href="#", data-ppp="js-recall").js-ppp.btn.btn-zakaz.is-hidden заказать
