doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    block title
      title НПС-автоматика
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="icon" type="image/png" href="static/img/favicon.png")
    link(rel="stylesheet" media="all" href="static/css/jquery.fancybox.min.css")

    link(rel="stylesheet" media="all" href="static/css/style.css")

    script(src="static/js/lib/jquery.js")

    script(src="static/js/lib/slick.min.js")
    script(src="static/js/lib/jquery.fancybox.min.js")

    //- script(src="static/js/lib/jquery.validate.min.js")
    //- script(src="static/js/lib/jquery.mCustomScrollbar.js")
    //- script(src="static/js/lib/classie.js")

    script(src="static/js/global.js")
    script(src="static/js/init-global.js")
    //- script(src="static/js/init-scroll.js")
    //- script(src="static/js/init-select.js")
    //- script(src="static/js/init-validate.js")


    script(src="static/js/common.js")

  body
    //BEGIN out
    block content
    //END out
    block scriptFooter