extends _layout
block content
	.out
		include layout/header.pug
		section.section.mod_first
			.layout
				h2.title-section акции и спецпредложения
			.layout.layout-b
				.baum.baum-l
					include module/pocket.pug
					include module/pocket.pug
					include module/pocket.pug
					include module/pocket.pug
		include layout/footer.pug