extends _layout
block content
	scriptFooter
		script(src="static/js/mapOptions.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0yJ64y2XfLC-sKsba8Aj4uk54Ew8AXKc&callback=initMap" async defer)

	-var prt = [{item: {pic: "static/img/partner/01.jpg", text: "Деловые линии"}}, {item: {pic: "static/img/partner/02.jpg", text: "ПЭК"}}, {item: {pic: "static/img/partner/03.jpg", text: "ВОЗОВОЗ"}}, {item: {pic: "static/img/partner/04.jpg", text: "РАТЭК"}}, {item: {pic: "static/img/partner/05.jpg", text: "Байкал-Сервис"}}, {item: {pic: "static/img/partner/06.jpg", text: "Энергия"}}, {item: {pic: "static/img/partner/07.jpg", text: "КИТ"}}, {item: {pic: "static/img/partner/08.jpg", text: "ЖелДорЭкспедиция"}}];

	.out
		include layout/header.pug
		section.section.mod_first.mod-b-0
			.layout
				h2.title-section.ex доставка
			.layout.layout-b
				.baum.mod-b-10
					.half
						.half__wrap
							img(src="static/svg/truck-check.svg", alt="").half__img
							p.desc-l Доставим Ваш заказ в любую точку РФ. Быстро. Надежно. Удобно.
				p.desc-l.mod-b-10 Варианты доставки продукции «НПС-Автоматика»:
				h3.title-medium.ex 1. Доставка транспортной компанией
				.baum.mod-b-20
					.half
						.half__wrap
							p.desc-l При заказе небольших партий изделий наиболее выгодный вариант – доставка транспортными компаниями до терминала или адреса Покупателя.
					.half
						.half__wrap
							p.desc-l Мы работаем со всеми транспортными компаниями, представительства которых есть в Нижнем Новгороде.
				.deliv
					each deliv in prt
						.deliv__item
							.deliv__pic
								img(src=deliv.item.pic, alt="").deliv__img
							a(href="#").deliv__link #{deliv.item.text}
				.baum.mod-b-40
					.half
						p.desc-l Доставка до терминала в Нижнем Новгороде осуществляется два раза в неделю: по вторникам и четвергам. При необходимости мы организуем дополнительные отправки в понедельник и среду. <br><br>
						p.desc-l  Наша продукция упакована в пятислойный гофрированный картон, что позволяет доставить Ваш товар транспортными компаниями в идеальном состоянии.

					.half
						p.desc-l Если необходимо сохранить в тайне производителя продукции, мы можем отправить груз напрямую Вашему покупателю от частного лица, либо от лица Вашей компании, при наличии оригинала доверенности. <br><br>
						p.desc-l  Стоимость перевозки Вы можете уточнить у наших менеджеров, или воспользоваться калькулятором на сайте транспортной компании.

		section.section-gray
			.layout
				h2.title-section.ex 2. Доставка отдельным транспортом до адреса
			.layout.layout-b
				.baum
					.half
						p.desc-l Доставка до терминала в Нижнем Новгороде осуществляется два раза в неделю: по вторникам и четвергам. При необходимости мы организуем дополнительные отправки в понедельник и среду. <br><br>
						p.desc-l  Наша продукция упакована в пятислойный гофрированный картон, что позволяет доставить Ваш товар транспортными компаниями в идеальном состоянии.

					.half
						p.desc-l Если необходимо сохранить в тайне производителя продукции, мы можем отправить груз напрямую Вашему покупателю от частного лица, либо от лица Вашей компании, при наличии оригинала доверенности. <br><br>
						p.desc-l  Стоимость перевозки Вы можете уточнить у наших менеджеров, или воспользоваться калькулятором на сайте транспортной компании.

		section.section
			.layout
				h2.title-section.ex 3. Самовывоз со склада «НПС-Автоматика»
			.layout.layout-b
				.baum
					.half
						p.desc-l Вы можете самостоятельно забрать продукцию с нашего склада, находящегося по адресу:
						p.desc-l Россия, Нижегородская область, г. Павлово, ул.1-я Северная, 39
						p.desc-l Время загрузки:  пн-пт, с 8:30 до 16:00
						p.desc-l Заранее необходимо прислать скан доверенности на водителя, марку и номер машины.
						p.desc-l Вес и объем заказа для правильного подбора машины уточняйте у наших менеджеров.

		#map

		include layout/footer.pug