extends _layout
block content
	.out
		include layout/header.pug
		section.section.mod_first
			.layout
				ul.breadhumbs
					li.breadhumbs__item
						a(href="#").breadhumbs__link Новости
						| &#8725;
					li.breadhumbs__item  Приобретена роботизированная линия для производства электронных печатных плат
				h2.title-section Приобретена роботизированная линия для производства электронных печатных плат
				p.desc-l.mod-date Дата:
					time(datetime="2012-12-23") 12.05.2016
			.layout.layout-b
				.baum.baum-last
					.new
						img(src="static/img/new/01.jpg", alt="").new__img_1-2
						.new__text
							p.desc-l Приобретена роботизированная линия для производства электронных печатных плат методом SMD-сборки. <br>
							p.desc-l  Производитель – Mechatronic (Германия). Данное оборудование необходимо для сборки блоков управления и пультов шлагбаума марки МАКО. <br>
							p.desc-l  Инновационная дорога находится вблизи города Турувр. Пока открыт участок небольшой протяженности – 1 км. На нем установлены солнечные батареи площадью 28 квадратных метров. Власти страны выделили на создание дороги €5 млн. Полученная и накопленная с помощью солнечных батарей энергия должна позволить осветить город с 5-тысячным населением. В будущем власти Франции намерены построить тысячу километров подобных трасс. Аналогичный эксперимент планирует также провести Германия. В Нидерландах из солнечных батарей построили велодорожку.
					.new__pictures
						.new__pic.new__pic_2-3
							img(src="static/img/new/02.jpg", alt="").new__img
						.new__pic.new__pic_1-3
							img(src="static/img/new/03.jpg", alt="").new__img

		include layout/footer.pug