extends _layout
block content
	.out
		include layout/header.pug
		section.section.mod_first.mod-b-0
			.layout
				h2.title-section.ex сертификаты
				.baum.baum-around
					a(href="static/img/sert.jpg", data-fancybox="images").sert
						img(src="static/img/sert.jpg", alt="").sert__img
					a(href="static/img/sert.jpg", data-fancybox="images").sert
						img(src="static/img/sert.jpg", alt="").sert__img
					a(href="static/img/sert.jpg", data-fancybox="images").sert
						img(src="static/img/sert.jpg", alt="").sert__img
					a(href="static/img/sert.jpg", data-fancybox="images").sert
						img(src="static/img/sert.jpg", alt="").sert__img
					a(href="static/img/sert.jpg", data-fancybox="images").sert
						img(src="static/img/sert.jpg", alt="").sert__img

		include layout/footer.pug