extends _layout
block content
	.out
		include layout/header.pug
		section.section.mod_first.mod-b-0
			.layout
				h2.title-section.ex сертификаты
				.baum.baum-around
					.sert
						a(href="static/img/sertifikat1.jpg", data-fancybox="images").sert__link
							.sert__pic
								img(src="static/img/sertifikat1.jpg", alt="").sert__img
					.sert
						a(href="static/img/sertifikat1.jpg", data-fancybox="images").sert__link
							.sert__pic
								img(src="static/img/sertifikat1.jpg", alt="").sert__img
					.sert
						a(href="static/img/sertifikat1.jpg", data-fancybox="images").sert__link
							.sert__pic
								img(src="static/img/sertifikat1.jpg", alt="").sert__img
					.sert
						a(href="static/img/sertifikat1.jpg", data-fancybox="images").sert__link
							.sert__pic
								img(src="static/img/sertifikat1.jpg", alt="").sert__img
					.sert
						a(href="static/img/sertifikat1.jpg", data-fancybox="images").sert__link
							.sert__pic
								img(src="static/img/sertifikat1.jpg", alt="").sert__img

		include layout/footer.pug