.mod_first
	padding-top: 20px
.mod-b-10
	margin-bottom: 10px
.mod-b-20
	margin-bottom: 20px
.mod-b-40
	margin-bottom: 40px
.mod-b-0
	margin-bottom: 0px
	padding-bottom: 0
.mod-center
	text-align: center

.offset-top-60
	padding-top: 60px
.offset-bottom-0
	margin-bottom: 0px

.bd-t
	border-top: 2px solid #fff
