// Normally icon styles
// @each $s in icon-phone,icon-mail,icon-locating,icon-slick-next,icon-slick-next-red,icon-lupa,icon-plus,icon-rub,icon-assortment,icon-earth,icon-clock,icon-time,icon-arround,icon-bird,icon-tile,icon-tile-active,icon-list,icon-list-active,icon-fly,icon-close,icon-wobble
// 	.#{$s}
// 		display: inline-block
// 		+s(#{$s})

.icon-phone
	display: inline-block
	vertical-align: top
	width: 22px
	height: 22px
	background-image: url('../svg/phone.svg')

#icon-phone
	display: inline-block
	vertical-align: top
	width: 22px
	height: 22px
	.st0
		fill: #ffc948

.icon-smile
	display: inline-block
	font-size: 20px

.icon-lupa
	position: absolute
	right: 22px
	top: 50%
	+try(-50%)
	display: inline-block
	vertical-align: top
.icon-check-red
	display: inline-block
	vertical-align: top

.icon-basket
	display: inline-block
	vertical-align: top
	width: 24px
	height: 21px
	margin-right: 5px
	background-image: url('../svg/icon-basket.svg')
.icon-com
	display: inline-block
	vertical-align: top
	width: 18px
	height: 17px
	margin-right: 10px
	background-image: url('../svg/icon-com.svg')

.icon-close
	+vcenter
	width: 40%
	.st0
		fill: #fff

.icon-plus
	+vcenter
	display: inline-block
	vertical-align: top
	width: 10px
	height: 11px
